.page {
	background-color: $color-page-bg;
	color: $color-page-font;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin: 0 auto;
		padding: 20px;
	}

	&__title {
		font-size: 2em;
		text-align: center;
	}
}
