/*Resetting values*/
html {
	font-family: $font-primary, $font-secondary, $font-backup;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

ul,
li,
body,
p,
button,
textarea,
input,
select,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	font: inherit;
}

a,
a:visited {
	color: unset;
	text-decoration: none;
	display: block;
}

body {
	height: 100vh;
}
