// Color definitions
$color-black: #000;
$color-white: #fff;
$color-gray: #7a7a7a;

$color-light-blue: #4b4ef6;
$color-orange: orange;
$color-ground: #1e1e1f;
$color-hover: #5e5e62;
$color-hover-darker: #2d2dcc;

// Elements colors
$color-page-bg: $color-black;
$color-page-font: $color-white;

$color-link: $color-black;
$color-link-button-border: $color-black;
$color-link-button-bg-color: $color-orange;
$color-link-button-box-shadow: $color-light-blue;

$color-detailsTable-row: $color-ground;
$color-detailsTable-row-hover: $color-hover;
$color-detailsTable-border: $color-gray;
$color-detailsTable-searchBar: $color-gray;

$color-frame-border: $color-light-blue;

// Fonts
$font-primary: 'Fira Code';
$font-secondary: 'Arial';
$font-backup: sans-serif;
