// colors
$color-black: #282726;

$color-dark-blue: #161748;
$RoseGold: #bd8c7d;
$SoftGold: #d1bfa7;
$Silver: #d9d9e1;
$Onyx: #49494b;

$color-link: $color-black;
$color-link-border: $color-black;
$color-link-bg-color: $RoseGold;
$color-link-box-shadow: $color-dark-blue;
